body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #f0f0f3;
  color: #111827;
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

.header {
  font-size: 30px;
  font-weight: 700;
  color: #1e293b;
  margin-bottom: 20px;
  text-align: center;
}


.card {
  background: #ffffff;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}

button {
  background: rgb(194, 154, 101);
  color: #111827;
  border: none;
  padding: 12px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.2s;
}

button:hover {
  opacity: 0.95;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

input, select {
  width: 100%;
  padding: 12px;
  margin-top: 6px;
  margin-bottom: 14px;
  border-radius: 8px;
  border: 1px solid #cbd5e1;
  outline: none;
  transition: border 0.2s, box-shadow 0.2s;
}

input:focus, select:focus {
  border-color: #a78bfa;
  box-shadow: 0 0 4px rgba(167, 139, 250, 0.4);
}

.error {
  color: #dc2626;
  font-size: 14px;
  margin-bottom: 10px;
}
